
#comment-content
{
	#comment-editor
	{		
		/*background: none repeat scroll 0 0 $color_border_rbga;*/
		padding:10px;
		.title
		{	
			
			display: inline-block;
			font-size: 15px;
			font-weight: bolder;
			height: 26px;
			padding: 4px;
			text-transform: uppercase;	
			margin-bottom:10px;		
			margin-top: 0px;					
			.icon
			{
				vertical-align: middle;	
			}
		}	
		.avatar
		{
			vertical-align: top;
			display: inline-block;
			margin-right:10px;
			margin-left: 8px;
			img
			{
				height:65px;
				vertical-align: top;
			}
		}
		.comment_box
		{
			width:90%;
			display: inline-block;
			text-align:left;
			vertical-align: top;
			textarea
			{
				vertical-align: top;
				border:none;
				height:70px;
				width:99%;
			}
			input.btn
			{
				margin-top:4px;
				margin-right:0px;
			}
		}
		.comment_action
		{
			width:100%;
			display: inline-block;
			text-align:right;					
		}
	}
	#comment-list
	{
		.item
		{
			vertical-align: top;
			margin-top: 4px;	
			padding:8px;
			padding-right: 22px;
			background: none repeat scroll 0 0 $color_border_rbga; 
			display: inline-block;
			margin-bottom: 0px;
			overflow: hidden;
			width:90%;
			.avatar
			{
				
				display:inline-block;
				img
				{
					height:65px;
					max-width: 51px;
				}
			}
			.comment-detail
			{
				vertical-align: top;
				display:inline-block;
				width:92%;
				.username
				{		
					line-height:10px;
					a
					{
						
					}
					p.created-date
					{
						float: right;
					}
				}
				.comment-detail-content 
				{	
					
				}
			}	
			.comment-controls 
			{
				float: right;
			}					
		}
	}
}