/*
Error: Undefined variable: "$color_header_menu".
        on line 14 of ./cms.scss

9: 	{
10: 		font-size: 24px;
11: 		text-align:center;
12: 		padding-top:0px;
13: 		padding-bottom:8px;
14: 		color: $color_header_menu;
15: 		text-align: center;
16: 	}
17: 	div.cms-content
18: 	{
19: 		padding: 20px;

Backtrace:
./cms.scss:14
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/script/tree/node.rb:50:in `perform'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `map'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `map'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:293:in `watch'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin.rb:108:in `method_missing'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:50:in `process_result'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
D:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
D:/Ruby193/bin/sass:23:in `load'
D:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color_header_menu\".\A         on line 14 of ./cms.scss\A \A 9: 	{\A 10: 		font-size: 24px;\A 11: 		text-align:center;\A 12: 		padding-top:0px;\A 13: 		padding-bottom:8px;\A 14: 		color: $color_header_menu;\A 15: 		text-align: center;\A 16: 	}\A 17: 	div.cms-content\A 18: 	{\A 19: 		padding: 20px;"; }
