.home-page #header #header-menu > ul {
  float: left;
  border: none;
  margin: 0;
  padding: 0; }
  .home-page #header #header-menu > ul li a {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 15px; }
